
.DS_Store
gol/gol.xcodeproj/project.pbxproj
gol/gol.xcodeproj/project.xcworkspace/contents.xcworkspacedata
gol/gol.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
gol/gol.xcodeproj/project.xcworkspace/xcuserdata/dev.xcuserdatad/UserInterfaceState.xcuserstate
gol/gol.xcodeproj/xcuserdata/dev.xcuserdatad/xcschemes/xcschememanagement.plist
